.footer{
    background-color: black;
    color:white;
    line-height: 70px;
    display:flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.infor{
    width: calc(50% );
    
}
@media (max-width: 768px){
    .infor{
        width: calc(100% );
        font-size: 20px;
    }
}